<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
    <script src="lib/angular/angular.js"></script>
  <script src="js/calendar.js"></script>
  
</head>
<body ng-controller="getEvents">
  Current Month = <select ng-model="month">
  <option value="0">January</option>
  <option value="1">February</option>
  <option value="2">March</option>
  <option value="3">April</option>
  <option value="4">May</option>
  <option value="5">June</option>
  <option value="6">July</option>
  <option value="7" selected>August</option>
  <option value="8">September</option>
  <option value="9">October</option>
  <option value="10">November</option>
  <option value="11">December</option>
</select>
  Days in this month: {{daysInMonth}}
  <ul>
  	<li ng-repeat="event in events | filter:filterByMonth">
  		{{event.name}} - {{event.date}}
  	</li>
  </ul>
</body>
</html>
